html, body {
    height: 100%;
}

body{
    margin: 0;
    font-family: Georgia, Arial;
    background-color: rgb(27,27,27);
    color: white;
    font-size: 18px;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
  box-sizing: border-box;
}

nav {
    display: flex;
    background-color:black;
    color: white;
    margin: 0px;
}

.nav-container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

    display: flex;
    gap: 3rem;
}

.container {
    display: block;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

header {
    font-weight: bold;
    padding: 50px 0 20px;
    font-size: 50px;
}

.nav-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 0px;
  font-size: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #111111;
}

.projects:hover .dropdown-content {
    display: block;
}

.nav-btn:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.about-pic, video {
    display: block;
    width: 100%;
    height: auto;
}

audio {
    display: block;
    margin: 20px auto;
}

.about-pic-half {
    width: 50%;
    height: auto;
    display: block;
}

.pic-gallery {
    width: 48%;
    height: auto;
    display: block;
}

.gallery {
    display: flex;
    gap: 4%;
}

.originalcover {
    display: flex;
}

.columnpic {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    display: block;
    text-align: justify;
    height: auto;
    padding: 20px 0px 70px;
}

.text a {
    color: white;
}

.text a:hover {
    text-decoration: none;
}

h2 {
    text-align: left;
}

.homeh2 {
    text-align: center;
}

footer{
    margin-top: auto;
    background-color: #e1e1e1;
    color: black;
    text-align: center;
    padding: 40px;
}

footer .contact-me {
    font-size: 24px;
}

.row {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column-three {
    float: left;
    width: 33.33%;
    gap: 10px;
    align-items: center;
}

.row-three:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
    margin: 0;
}

.back{
    display: block;
    text-align: justify;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.back a {
    color: white;
}

.video {
    width: 100%;   
    margin: 40px auto;  
}

.video iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}
